*.iws
*.ws
*.war
*.iml
*.iws
*.ipr
*Db.properties
*Db.script
*.class
.settings
.classpath
classpath
.project
.idea
.DS_Store
.link_to*
prodDb.*
eclipse
stacktrace.log
out
target
target-eclipse
plugins
web-app
web-app/WEB-INF/classes
